<settings>
	<TITLE>SCConfigMgr</TITLE>
	<STARTTIMEMINUTES>0</STARTTIMEMINUTES>
	<DURATIONMINUTES>1440</DURATIONMINUTES>
	<IMAGEFILE>logo.jpg</IMAGEFILE>
	<IDLETIMEMINUTES>1</IDLETIMEMINUTES>
	<BODYTEXT>This computer has not been used for 5 minutes, you will be logged off soon. if you wish to continue use it, please click 'OK'</BODYTEXT>
	<COUNTDOWNMINUTES>1</COUNTDOWNMINUTES>
	<DEADLINETEXT>Log off time</DEADLINETEXT>
	<DOACTION>notepad</DOACTION>
	<DETECTLOCK>False</DETECTLOCK>
	<DETECTSLIDESHOW>False</DETECTSLIDESHOW>
	<PROCESS>
	   <Name>notepad</Name>
	   <Name>firefox</Name>
	</PROCESS>
</settings>
